
// Images
$burger: url('/img/Menu.svg');
$logo: url('/img/logo.svg');
$search: url('/img/search.svg');
$vector: url('/img/vector.svg');
$vector_1: url('/img/vector-1.svg');
$close: url('/img/close.svg');
$cart: url('/img/cart.svg');
$back: url('/img/back.svg');
$trash: url('/img/trash.svg');
$deliver: url('/img/deliver.svg');
$truck: url('/img/truck.svg');
$wave: url('/img/wave.svg');
$mark: url('/img/mark.svg');
$next: url('/img/next.svg');
// Colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FFE033;
$darkyellow: #EFCF39;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gainsboro: #EDECEE;
$grey: #FAFAFA;
$darkgrey: #7E7E7E;
$lightgrey: #97948D;
$blurgrey: #989898;
$purple: #F8F7F2;
